.event {
  position: absolute;
  width: 80%;
  background-color: #66cdaa;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #333;
  overflow-y: scroll;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    background-color: red;
  }
}

.delete-event-btn {
  border: none;
}
